/*

section>div {
    display: inline-block;
    font-weight: normal;
    margin: 2em;
    padding: 1em;
    border: 2px solid black;
    vertical-align: middle;
    width: 350px;
    -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);

}

section>div>div {
    height: 350px;
}

section>div>div>p {
    color: white;
    text-shadow: 1px 1px 2px black;
}

section>div>div>a {
    color: black;
    background-color: lightgray;
    font-weight: normal;
    font-size: 1.2em;
    padding: .5em;
    text-align: center;
    border-radius: .4rem;
    text-decoration: none;
}

#red {
    background-color: rgba(120,0,0,0.7);
}

#blue {
    background-color: rgba(0,120,0,0.7);
}

#green {
    background-color: rgba(0,0,1200,0.7);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;

}
*/
